/* style reset */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Work sans";
  text-decoration: none;
}

/* Default Container styles for All section */

.container {
  width: 75%;
  margin-inline: auto;
  padding: 70px 0 70px;
}

/* Header Section Start*/

header {
  background-image: url(../images/banner/banner1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner-area {
  display: flex;
  text-align: end;
  justify-content: end;
}
.banner {
  width: 520px;
  margin: 50px 0 170px;
}
.banner-title {
  font-size: 4rem;
  color: #151414;
  line-height: 5rem;
  font-weight: 800;
}
.banner-description {
  font-size: 1.1rem;
  color: #444343;
  margin: 20px 0;
  line-height: 1.7rem;
}

/* Button */

.btn {
  background-color: #f39c12;
  color: #ffffff;
  font-size: 1.4rem;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  display: inline-block;
  font-weight: 500;
  cursor: pointer;
}

.btn:hover {
  background-color: #e67e22;
  transition: 1s;
}

/* Header Section Complete */

/* Struggle & Failure Section Start */
.my-struggle {
  display: flex;
}
.img-side {
  width: 600px;
  height: auto;
}
.struggle-list-side {
  width: 30%;
  margin: 180px 0 0 70px;
}

.section-title {
  font-size: 3rem;
  color: #151414;
  line-height: 3.5rem;
}
.section-summary {
  font-size: 1.1rem;
  margin: 20px 0;
  line-height: 1.5rem;
  color: #444343;
}
.struggle-list {
  color: #444343;
}
.struggle-list li {
  margin-bottom: 7px;
}

/* My planst Style Start */

.plans-area {
  text-align: center;
  color: #151414;
}

.plans {
  display: flex;
  justify-content: space-evenly;
  margin: 60px 0 10px;
}
.plan-list img {
  width: 70px;
}
.plan-list h3 {
  margin: 10px 0 5px;
  font-size: 1.5rem;
  color: #151414;
}
.plan-list p {
  color: #444343;
}

/* Future complete Area */
.future-area h2.section-title {
  text-transform: uppercase;
  font-weight: 800;
  border-radius: 50%;
  background-color: lavender;
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2);
  font-size: 3rem;
}
.card-group {
  display: flex;
  margin: 40px 0 0;
  justify-content: space-evenly;
}
.card {
  width: 23.5%;
  box-shadow: 0 16px 30px rgba(0, 0, 0, 0.4);
  padding: 30px;
  border-radius: 10px;
}
.card img {
  width: 100%;
}
.card .card-title {
  margin: 15px 0;
  font-size: 1rem;
}
.card .card-summary {
  margin: 20px 0;
  line-height: 1.5rem;
}

.card .btn {
  padding: 10px 15px;
  font-size: 1rem;
}

/* Call Now Area Style Start */
.call-now-area {
  background: linear-gradient(
    to right,
    rgba(175, 79, 15, 1),
    rgb(243, 138, 69, 0.2)
  );

  border: none;
  border-radius: 7px;
}
.bg-image {
  background-image: url(../images/watch.png);
  background-repeat: no-repeat;
  /* z-index: 9999; */
  background-size: cover;
  border-radius: 7px;
}
.call-now {
  padding: 60px 0 60px 60px;
  width: 55%;
}
.call-now h2 {
  margin-bottom: 20px;
  line-height: 3.5rem;
  color: #ffffff;
}

/* Footer Area */

footer {
  background-color: #151414;
  color: #ffffff;
}

.footer-area {
  display: flex;
}

.footer-left h2 {
  color: #ffffff;
}
.footer-left,
.footer-right {
  width: 50%;
}
.footer-text {
  width: 70%;
}
.para p {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.5rem;
  padding: 10px 0;
}
.social-icons {
  display: flex;
  margin-top: 20px;
}
.social-icons li {
  margin-right: 10px;
}
.social-icons li img {
  width: 25px;
}

.subscribe-area {
  margin: 70px 0 0 50px;
}
.subscribe-area h4 {
  color: #ffffff;
  font-size: 2rem;
  font-weight: 500;
}
form input:first-child {
  width: 70%;
  padding: 20px 20px;
  font-size: 1.1rem;
  border: 1px solid #ffffff;
  background-color: black;
  border-radius: 7px;
  color: #ffffff;
  margin: 17px 0 20px;
}

form .btn {
  background-color: #ffffff;
  color: #f15b22;
}
form .btn:hover {
  color: #ffff;
  background-color: #f15b22;
}
